<footer class="footer">
  <img src={{asset 'multi_pattern_slender.JPG'}} alt="decorative divider" width="100%" />
  <div class="footer-content">
    {{#if signed_in}}
      {{user_avatar class="user-avatar"}}&nbsp;
      <span class="user-name">{{user_name}}</span>
    {{/if}}
    <span class="contact-info">&nbsp;&nbsp;
      Percapita Customer Care &nbsp;&nbsp;
      customerservice@percapita.com &nbsp;&nbsp;
      1-888-302-5055
    </span>
  </div>
  <img src={{asset 'multi_pattern_slender.JPG'}} alt="decorative divider" width="100%" />
  <script src="{{asset 'prism.js'}}"></script>
</footer>
